#smefpw{
	color: black;
	font-family: verdana;
	font-size: 10px;
	margin-right: auto;
  	text-align: left;
}
#smefpw2{
	color: black;
	font-family: verdana;
	font-size: 10px;
	margin-right: auto;
  	text-align: left;
    }
